<%
# Aperçu de l'atelier
%>
<%= Atelier::Overview.titre_h1('Présentation générale de l’atelier') %>

<h3>L’Atelier Icare</h3>
<%= Atelier::Overview.quicklinks %>
<p>
L'Atelier Icare est un <strong>atelier d'écriture en ligne</strong> où sont développées toutes les formes d'écriture narrative, depuis le film jusqu'à la BD, dans un cadre pseudo-virtuel.
</p>
<p>
  Les deux vocations premières de l'atelier Icare sont&nbsp;:
</p>
<ul>
<li>Permettre aux débutants de maitriser les rudiments de l'écriture narrative&nbsp;;</li>
<li>Permettre aux auteurs plus expérimentés de développer leur projet personnel de film, de roman, de BD, etc. en les accompagnant dans son long et périlleux périple.</li>
</ul>

<h3>À qui s'adresse Icare&nbsp;?</h3>
<p>
Peut-être avez-vous un projet, une idée, une envie d'histoire qui vous tient à cœur, mais vous ignorez par quel bout la prendre&nbsp;?
</p>
<p>
Ou peut-être avez-vous déjà un projet bien avancé, et de solides bases de connaissance, mais vous ressentez le besoin d'être accompagné, de profiter d'un regard critique et professionnel, mais toujours bienveillant, pour vous faire avancer de façon plus sûre encore&nbsp;?
</p>
<p>
Ou peut-être ne voulez-vous plus être seul ou seule à écrire dans votre coin, peut-être voulez-vous partager votre passion, mais aussi vos doutes, vos errements, vos interrgations et, plus encore, recevoir des retours sur votre travail, en connaitre la valeur réelle&nbsp;?
</p>
<p>
Ou peut-être avez-vous quelques rudiments d'écriture, mais vous voulez vous perfectionner et apprendre à maitriser des notions dramaturgiques qui vous échappent encore, qui vous semblent insaisissables comme peuvent l'être la structure ou l'évolution des personnages&nbsp;?
</p>
<p>
Ou peut-être avez-vous simplement envie de gérer votre temps à votre guise, à votre rythme, sans pour autant être totalement livré à vous-même, car vous savez que les grands travaux appellent des échéances solides&nbsp;?
</p>
<p>
Quelle que soit la situation, vous avez envie d'écrire, <em>d'apprendre</em> ou de <em>ré-apprendre</em> à écrire, à <em>mieux</em> écrire, à œuvrer pour vous sentir à l'aise avec les difficultés inhérentes à la narration, à la construction d'un récit, au développement des personnages, au déploiement des intrigues, des thématiques, à l'exploitation d'un style, à l'accouchement harmonieux d'un récit. Vous avez le désir de progresser ou simplement <em>de vous lancer</em>.
</p>
<div class="p">
Si vous vous reconnaissez dans l'une ou l'autre de ces descriptions, il se pourrait que l'Atelier Icare soit le cadre adapté à vos attentes. Il vous suffit de <%= lien.signup("poser votre candidature") %> pour pouvoir le rejoindre.
</div>

<h3>Charte pédagogique de l'atelier</h3>

<p>
Fruit d'une expérience de la pédagogie de plus de 15 ans aussi bien en mode réel qu'en ligne, l'Atelier Icare répond à l'envie d'ouvrir l'enseignement de la narration à toute personne, qu'elle soit située à Paris ou à l'autre bout du monde, qu'elle soit jeune ou moins jeune, à un tarif accessible et modulable.
</p>

<div class="p">
À l'Atelier, le but premier est bien entendu d'apprendre la narration. Mais privilégiant le concret par-dessus tout, on y apprend surtout <em>à écrire</em> (vous pouvez lire à ce propos les <%= link_overview(:raisons) %>).
</div>

<p>
Ici, l'apprentissage vivant et personnalisé est toujours dirigé vers un but précis et concret : le développement d'une histoire, qu'elle soit un projet personnel ou le fruit d'un exercice sur un module d'apprentissage à durée déterminée.
</p>
<p>
La théorie enseignée, les notions abordées ou les analyses des œuvres ne sont jamais livrées dans le seul but d'offrir une connaissance (<em>comme c'est souvent le cas dans trop de formations</em>) mais sont immédiatement mises au service de votre but ultime au sein de l'atelier : <em>apprendre à écrire</em> ou <em>vous perfectionner</em>.
</p>
<p>
Ainsi, on ne ressort pas de l'atelier avec des “fiches-type” sur tel ou tel sujet de dramaturgie, on en ressort avec une réelle <strong>compétence à développer une histoire et des personnages</strong> et une “boite à outils” riche qui peut guider et épauler au jour le jour dans les travaux d'écriture futurs.
</p>
<p>
C'est sur la base de cette ambition que se fait l'apprentissage au sein de l'Atelier Icare.
</p>

<h3>Souplesse de l'atelier</h3>

<p>
Un autre aspect original de cette formation est que vous pouvez l'adapter à vos besoins propres, ainsi qu'à votre budget. Ici, ce n'est pas un “package” clé en main qui vous est proposé, qui vous imposerait de suivre toutes les matières, même celles où vous vous sentiriez à l'aise.
</p>
<p>
Au contraire, vous pouvez choisir les matières, les thèmes d'étude, qui vous intéressent, les uns après les autres, que ce soit la structure, les personnages, les documents de travail, l'accompagnement de projet, etc.
</p>
<p>
Cela peut vous permettre aussi, dans un premier temps, de vous essayer à cette forme d'enseignement. Essayez un module, puis tirez-en les conclusions et décidez de poursuivre l'aventure si l'expérience vous a séduit et que vous l'avez jugée féconde.
</p>
<p>
Vous ne connaissez pas vos besoins réels et ne savez par quel module commencer&nbsp;? C'est bien naturel si vous débutez. Alors un choix pourra vous être proposé après quelques échanges avec Phil, le pédagogue de l'atelier.

<h3>Quelques mots de déontologie</h3>

<div class="p">
Ceux qui connaissent l'ancien “Scénariopole” le savent, ce n'est pas l'aspect lucratif qui guide les choix de Phil, mais <strong>la passion de la transmission du savoir</strong>, et le partage de cette aventure émotionnelle si particulière qu'est le développement d'une histoire.
</div>

<div class="p">
La masse de documents pédagogiques donnés à lire gratuitement ainsi que l'absence de toute publicité sont là pour en témoigner. L'origine de ce travail&nbsp;: cette passion de la pédagogie, passion qui n'a d'égale chez Phil que sa passion pour l'écriture elle-même.
</div>

<p>
Le contact privilégié et direct que permet l'enseignement “on-line” —&nbsp;contrairement à ce qu'on pourrait imaginer de prime abord&nbsp;— est un plus inestimable pour le pédagogue et l'auteur, car il permet à chacun, à son rythme, où qu'il réside, quel que soit le temps dont il dispose, de mener à bien les histoires dont il rêve. Dans ce sens, Phil met un poing d'honneur à répondre toujours avec la plus grande réactivité possible, afin d'établir avec l'auteur un lien de proximité qui pallie largement l'absence de contact physique.
</p>

<div class="p">
En conclusion, l'<%= lien.home 'atelier Icare' %> voudrait être là pour vous permettre de réaliser ces histoires dont vous rêvez.
</div>

<%= Atelier::Overview.quicklinks_bottom %>
