<%= Atelier::Overview.titre_h1('Hall of Fame') %>

<%= Atelier::Overview.quicklinks %>

<p class='small italic air' style="clear:none;">
Cette page présente la liste des <strong>belles réussites</strong> qui ont déjà pu être accomplies par les icariennes et les icariens au sein de l'atelier Icare depuis sa <strong>création en 2008</strong>. Puissiez-vous sentir, derrière chacune d'elle, l'<strong>intense moment de joie et de fierté</strong> qu'elle a pu susciter à leur auteur.
</p>

<%

##
## === DATA DES RÉUSSITES ===
##

# NE SURTOUT PAS RETIRER CE CROCHET QUI COMMENCE LA LISTE
[


=begin
  copier-coller:
  --------------
  {
    date:     "", # mettre le mois en version courte (Déc.)
    content:  <<-EOT
CONTENU
    EOT
  },
  ---------------
  fin à copier-coller


  #
=end


  {
    date:     "Sept. 2016", # mettre le mois en version courte (Déc.)
    content:  <<-EOT
Lancement du tournage du film <a href="https://www.facebook.com/lecorpsdesvieux/" target="_blank" class="bold" style="font-variant:small-caps;font-size:1.2em">Le Corps des vieux</a> écrit par <strong>Basile Charpentier</strong> (alias <em>Bezbizbouz</em>), produit par <a href="https://www.facebook.com/hybridfilmsfr/" target="_blank" class="bold">Hybrid Films</a> et réalisé par <strong>Louise de Premonville</strong>.
    EOT
  },
  {
    date:     "Jan. 2016",
    content:  <<-EOT
    <strong>Gilad Carmel</strong> (alias <em>Samuel</em>) réussit le concours d'entrée à l’<a href="http://www.femis.fr/presentation-fc-atelier-scenario" target="_new">Atelier Scénario de la FÉMIS</a>, parmi 21 candidats retenus, avec son scénario <strong>TOUCH</strong> développé au sein de l'atelier Icare.
    EOT
  },
  {
    date:     "Sept. 2015",
    content:  <<-EOT
L'atelier est heureux d'annoncer la participation de <strong>PASCAL ROY</strong> (<i>Psyneaste</i>) au <strong>JURY DU </strong><a href="http://www.festivalregardscroises.com/edition2015/le-jury/" target="_newt" class='bold'>FESTIVAL «&nbsp;REGARDS CROISÉS&nbsp;»</a> présidé par <strong>Patrice LECONTE</strong>, festival dont Pascal aura l'honneur de faire l'ouverture en octobre prochain avec son court-métrage <strong>CORPS SOLIDAIRES</strong> (développé au sein de l'atelier).
    EOT
  },
  {
    date:     "Juil. 2015",
    content:  <<-EOT
<strong>Guillaume</strong> est sélectionné parmi les 12 auteurs retenus pour le <strong>Master 2 de scénarisation de Nanterre</strong>. Un grand bravo à lui&nbsp;!
    EOT
  },
  {
    date:     "Juin 2015",
    content:  <<-EOT
<strong>Guillaume</strong> est retenu parmi les 20 finalistes du concours d'entrée du <strong>Master 2 Scénario - Écriture audiovisuelle de Nanterre</strong>.
    EOT
  },
  {
      date:     "Avr. 2015",
      content:  <<-EOT
Sélection du scénario <strong>APPASSIONATO</strong> (<em>Psyneaste</em> / <em>Phil</em>) pour le <a href="">Festival de Brives 2015</a>.
      EOT
  },

  {
    date:     "Déc. 2014",
    content:  <<-EOT
La production est lancée pour le scénario <strong>APPASSIONATO</strong> co-écrit par <strong>PASCAL ROY</strong> (alias <em>Psyneaste</em> à l'atelier) et <strong>Phil</strong>. Suite au coup de cœur de trois productions intéressantes, c'est finalement sur <a href="http://www.lesfilmsduclan.com" target="_blank">Les Films du clan</a> que Pascal a porté sa préférence. Tournage prévu courant 2015 (<i>ce sera le deuxième scénario de Pascal réalisé au sein de l'atelier</i>).
    EOT
  },
  {
    date:     "Nov. 2014",
    content:  <<-EOT
<strong>Dominique Désormière</strong> (alias <em>Deso</em>) publie à compte d'auteur son roman <strong>INHUMANITAIRE</strong> tiré du scénario de long-métrage qu'elle a développé au sein de l'atelier Icare.
    EOT
  },
  {
    date:     "Juin 2014",
    content:  "<strong>GUILLAUME LIJOUR</strong> manque de très peu son entrée au <a href='http://www.ceea.edu/index.php' target='_blank'>CEEA</a> après un “troisième tour” organisé exceptionnellement cette année pour une poignée de candidats “dans la balance”."
  },
  {
    date:     "Mai 2014",
    content:  "<strong>BASILE CARPENTIER</strong> (<em>alias Bezbizbouz</em> à l'atelier) signe son premier contrat d'option et se lance dans la ré-écriture de son projet avec la réalisatrice intéressée par le projet, <a href='http://www.unifrance.org/annuaires/personne/330845/louise-de-premonville' target='new'>LOUISE DE PRÉMONVILLE</a>."
  },
  {
    date:     "Mai 2014",
    content:  "<a href='http://www.festival-cannes.com/fr.html' target='new'>FESTIVAL DE CANNES 2014</a> : Sélection du scénario de court-métrage <strong>APPASSIONATO</strong> co-écrit par <strong>PASCAL ROY</strong> (alias <em>Psyneaste</em>) et <strong>Phil</strong> pour une présentation-rencontre avec les producteurs au <a href='http://www.maisondesscenaristes.org/?p=788' target='new'>Pavillon International des Scénaristes</a>."
  },
  {
    date:     "Mars 2014",
    content:  "Sélection de <strong>GUILLAUME LIJOUR</strong> pour le 2e tour du <a href='http://www.ceea.edu/index.php' target='_blank'>CEEA</a>. Bonne chance à lui&nbsp;!"
  },
  {
    date:     "Mars 2013",
    content:  "<strong>Sélection de BASILE CHARPENTIER</strong> (<em>alias “Bezbizbouz”</em>) au premier tour du concours d'entrée du <a href='http://www.ceea.edu/index.php' target='_blank'>CEEA (Conservatoire Européen d'Écriture Audiovisuelle)</a>"
  },
  {
    date:     "Sept. 2012",
    content:  "<strong>PRIX DU MEILLEUR SCÉNARIO</strong> au <a href='http://cinemaregion.fr' target='_blank'>Festival National du Film de Hyères</a> remporté par le film <strong><a href='http://www.unifrance.org/film/33565/corps-solidaires' target='_blank' class='gras'>CORPS SOLIDAIRES</a></strong> de <strong>PASCAL ROY</strong>, <em>alias Psyneaste</em> (qui a développé son projet au sein de l'atelier en module “Suivi de projet”)."
  },
  {
    date:     "Juin 2012",
    content:  <<-EOT
Publication du livre pour enfant <a href="http://www.amazon.fr/Le-Sel-Vie-L%C3%A9gende-dOrgon/dp/1090461046" target="_new" class='bold'>Le Sel de la vie</a> écrit par <strong>Hélène Grosso</strong> (alias <em>Ysabel</em>) d'après le scénario éponyme développé au sein de l'atelier.
    EOT
  },
  {
    date:     "Juin 2012",
    content:  "<p>Le film <a href='http://www.unifrance.org/film/33565/corps-solidaires' target='_blank' class='gras'>CORPS SOLIDAIRES</a> de <b>PASCAL ROY</b> (<em>alias Psyneaste</em>) poursuit vaillamment sa route. Après un achat de France Télévision et un passage au Festival de Clermont-Ferrand, le film vient d'être sélectionné par…</p>
  <ul style='list-style:none;'>
    <li>Le <a href='http://www.psfilmfest.org/festival/film/detail.aspx?id=23516&FID=59' target='_blank' class='gras'>Palm Springs International ShortFest (USA)</a> <br />(sous le titre <strong>Touch Me</strong>)
</li>
    <li>Le <a href='http://festival-resistances.fr/' target='_blank' class='gras'>Festival Résistance<span style='color:red;'>s</span> 2012 (France/Tarn)</a></li>
    <li>Le <a href='http://www.oe5ydl.info/erich/fdn/englisch/' target='_blank' class='gras'>Festival des Nations 2012 à Ebensee (Autriche)</a></li>
  </ul>
   <p>On croise les doigts pour que le film de Paco revienne avec tous les honneurs qu'il mérite, mais, surtout, qu'il soit apprécié à sa juste valeur par un public nombreux et enthousiaste !</p>"
  },
  {
    date:     "Déc. 2011",
    content:  "<p> Sélection au <a href='http://www.clermont-filmfest.com' target='new'>Festival de Clermont-Ferrand</a> du court-métrage <strong>CORPS SOLIDAIRES</strong> de <strong>PASCAL ROY</strong> (alias “Psyneaste”) produit par <a href='http://www.ctonfilm.fr/' target='_blank'>C&nbsp;Ton&nbsp;Film</a> (<em>court-métrage dont le scénario a été développé par Pascal au sein de l'atelier en module “Suivi de projet”</em>) </p><p>On croise les doigts pour que ce film poursuive sa (déjà) longue route&nbsp;!</p>
"
  },
  {
    date:     "Juil 2011",
    content:  "<strong>Fin de tournage</strong> du court-métrage <strong>CORPS SOLIDAIRES</strong> de <strong>PASCAL ROY</strong> (<em>alias “Psyneaste”</em>) (produit par <a href='http://www.ctonfilm.fr/' target='_blank' class='gras'>C&nbsp;Ton&nbsp;Film</a>)."
  },
  {
    date:     "Mars 2011",
    content:  "<p><strong>PASCAL ROY</strong> (<em>alias “Psyneaste”</em>) obtient pour <strong>CORPS SOLIDAIRES</strong></b> le financement maximum, à l'unanimité, de <a href='http://www.pictanovo.com' target='new'>la Région Nord-Pas de Calais (CRRAV)</a>.</p><p class='italic'>Le film, donc le scénario a été développé au sein de l'atelier en module “Suivi de projet”, est produit par la société <a href='http://www.ctonfilm.fr/' target='_blank' class='gras'>C&nbsp;Ton&nbsp;Film</a>.</p>"
  },
  {
    date:     "Jan. 2011",
    content:  "<strong>JESSICA</strong> (<em>alias Clochette</em>) remporte la dernière étape du <a href='http://www.assodesfalaises.com/Evenements.html' target='_new' style='font-weight:bold;'>CONCOURS DE SYNOPSIS D'ORGON</a> organisé par l'association des <a href='http://www.assodesfalaises.com' target='_new'>LÉZARDS DES FALAISES</a> avec son scénario <b>REFLETS ORGONNAIS</b>, scénario développé au sein de l'atelier en module “Suivi de projet”."
  },
  {
    date:     "Déc. 2010",
    content:  "<strong>SUZANNE</strong> (<em>alias Suzelit</em>), <strong>HÉLÈNE</strong> (<em>alias Ysabelle</em>) et <strong>JESSICA</strong> (<em>alias Clochette</em>) ont vu leur synopsis sélectionné pour le <a href='http://www.assodesfalaises.com/Evenements.html' target='_new' style='font-weight:bold;'>CONCOURS DE SYNOPSIS D'ORGON</a> organisé par l'association des <a href='http://www.assodesfalaises.com' target='_new'>LÉZARDS DES FALAISES</a>."
  },
  {
    date:     "Nov. 2010",
    content:  "<p><b>PASCAL ROY</b> (<em>alias Psyneaste</em>) signe avec la maison de production <a href='http://www.ctonfilm.fr/' target='_blank' class='gras'>C Ton Film</a> pour son scénario <strong>CORPS SOLIDAIRES</strong> développé au sein de l'atelier en module “Suivi de projet”.</p><p>Un grand bravo à lui&nbsp;!</p>"
  },
  {
    date:     "Oct. 2010",
    content:  "Pré-sélection du scénario <strong>CORPS SOLIDAIRES</strong> de <b>PASCAL ROY</b> (<em>alias Psyneaste</em>) pour la Deuxième Bourse du <a href='http://www.festcourt-villeurbanne.com' target='new'>Festival de Villeurbanne 2010</a>. Un grand bravo à lui&nbsp;!"
  },
  {
    date:     "Août 2010",
    content:  "<b>SAMUEL</b>, réalisateur et monteur, achève le scénario de son court-métrage <strong>JE SUIS CALME</strong> développé depuis novembre 2009 au sein de l'atelier en module “Suivi de projet”. Il se lance dans le long périple de sa production. Bonne chance à lui&nbsp;!"
  },
  {
    date:     "Août 2010",
    content:  "<strong>PASCAL ROY</strong> (<em>alias Psyneaste</em>) achève la version finale de son court-métrage <strong>CORPS SOLIDAIRE</strong> développé depuis février 2010 au sein de l'atelier en module “Suivi de projet”. Il se lance dans le périple de sa production. Bonne chance à lui&nbsp;!"
  },
  {
    date:     "Juin 2010",
    content:  "<p><strong>JEAN-MICHEL</strong> (*) pousse le premier les portes de ce “Hall of Fame” en réussissant brillamment le <b>CONCOURS D'ENTRÉE AU </b><a href='http://www.ceea.edu/index.php' target='_blank'><b>CEEA</b> (Conservatoire Européen d'Écriture Audiovisuelle)</a>. Pour cette session 2010, 12 candidats (sur 14 places disponibles) ont été retenus parmi les 250 inscrits. Un grand bravo à lui&nbsp;!</p>
<p class='italic'>(*) Jean-Michel, alias “michel”, a suivi au sein de l'atelier les trois modules “Structure”, “Personnage” et “Thématique”.</p>"
  },
  {
    date:     "Fév. 2008",
    content:  "Ouverture de l'Atelier Icare."
  }
].each do |data_reussite|
%>
<div class="div_reussite">
  <div class='date'><%= data_reussite[:date] %></div>
  <div class='content'><%= data_reussite[:content] %></div>
</div>
<% end %>


<%= Atelier::Overview.quicklinks_bottom %>
