<%
# Formulaire pour s'inscrire au site
%>
<%
# Formulaire d'inscription par défaut

# Fabrication de la rangée de formulaire
def row libelle, property, field_type, values = nil
  field_name  = "user[#{property}]"
  field_id    = "user_#{property}"
  c = ""
  c << libelle.in_span(class: 'libelle')
  c << case field_type
  when :text
    (self.send(property)||"").in_input_text(name:field_name, id:field_id)
  when :select
    values.in_select(name:field_name, id: field_id, selected: user.send(property))
  end.in_span(class: 'value')
  c.in_div(class:'row')
end

%>
<%
required_mark = ' <span class="red"><sup>*</sup></span>'
site.require 'form_tools'
form.prefix = 'user'
%>
<form id="form_user_signup" class="dim3070" action="user/create" method="POST">
  <%= (param(:route_after_signup)||param(:ras)||"").in_hidden(name:'route_after_signup') %>

  <fieldset>
    <legend>Identité</legend>
    <%= form.field_text("Pseudo#{required_mark}", 'pseudo', nil) %>
    <%= form.field_text("Patronyme", 'patronyme', nil) %>
    <%= form.field_select("Vous êtes…#{required_mark}", 'sexe', nil, {values: [["F", "une femme"], ["H", "un homme"]]}) %>
    <% if site.signup_with_year %>
      <% valeurs_annees = (1920..(Time.now.year - 18)).collect{|y| [y, y]}.reverse %>
      <%= form.field_select("Naissance#{site.signup_year_required ? required_mark : ''}", 'naissance', nil, {values: valeurs_annees}) %>
    <% end %>
  </fieldset>
  <fieldset>
    <legend>Contact et accès au site</legend>
    <%= form.field_text("Mail#{required_mark}", 'mail', nil) %>
    <%= form.field_text("Confirmation mail#{required_mark}", 'mail_confirmation', nil) %>
    <%= form.field_text("Mot de passe#{required_mark}", 'password', nil) %>
    <%= form.field_text("Confirmation m.d.p#{required_mark}", 'password_confirmation', nil) %>
  </fieldset>
  <% if site.signup_with_coordonnates %>
    <fieldset>
      <legend>Coordonnées</legend>
      <% name = "Téléphone#{site.signup_phone_required ? required_mark : ''}" %>
      <%= form.field_text(name, 'telephone', nil, {class: 'medium'}) %>
      <% name = "Adresse#{site.signup_address_required ? required_mark : ''}" %>
      <%= form.field_textarea(name, 'adresse') %>
    </fieldset>
  <% end %>
  <% if site.tarif != nil %>
    <fieldset>
      <legend>Abonnement</legend>
        <%= form.field_checkbox("S'abonner au site"+" (pour #{site.tarif_humain}/an)".in_span(class:'small'), 'subscribe', nil, {text_after: 'Pourquoi s’abonner ?'.in_a(href:'aide/3/show', target: :new, class:'small').in_div(class: 'right', style:'margin-top:1em')}) %>
    </fieldset>
  <% end %>
  <% if site.captcha_value %>
    <%= app.hidden_field_captcha_value %>
    <%= form.field_text("Antirobot#{required_mark}", 'captcha', nil, {class:'short', text_before: "#{site.captcha_question.in_span(id:'captcha_question')} : ".in_span(class:'small')}) %>
  <% end %>
  <%= "S'inscrire".in_submit(class:'btn').in_div(class:'buttons', style: 'margin-top:3em') %>
</form>
