<%
# Marge gauche
#
# NOTES
#   - Il faut mettre les vraies routes (pas de raccourcis) dans la définition
#     des main_links pour qu'ils s'effacent un peu lorsqu'on se trouve dans
#     leur section.
%>
<section id="left_margin">
  <div id="main_left_links" class="left" style="margin-bottom:3em">
    <%= main_link('ACCUEIL', '', {title: "Pour rejoindre l’accueil du site."}) %>
    <% if user.identified? %>
      <%= main_link('BUREAU', 'bureau/home', {title:"Pour rejoindre votre bureau de travail."}) %>
      <%= main_link('PROFIL', "user/#{user.id}/profil", {title:"Pour rejoindre votre profil."}) %>
    <% end %>
    <center style="width:100%"><hr style="width:80%;background-color: #87d54d;border-color:#87d54d;height:2px"></center>
    <%= main_link('AIDE', 'aide/home', {title: "Pour rejoindre l’aide de l’atelier.", class: 'small'}) %>
    <%= main_link('CONTACT', 'site/contact', {title: "Pour rejoindre le formulaire de contact de Phil.", class: 'small'}) %>
  </div>
</section>
